@import url(global.css);

li  {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 1rem; 
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
}

/* .pok {
  background-image: url(../images/elements/grass.png); 
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: rgb(166, 233, 149);
  height: 100%;
} */

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    padding-left: 5px;
    flex-wrap: wrap;
}

.info h6 {
    font-size: 11px;
}

.info h3 {
    font-weight: bold;
    font-size: 20px;
}

.normal {
    background-color: #a6a877;
    background-image: url(../images/elements/normal.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.grass {
    background-color: #77c850;
    background-image: url(../images/elements/grass.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.fire {
    background-color: #ee7f30;
    background-image: url(../images/elements/fire.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.water {
    background-color: #678fee;
    background-image: url(../images/elements/water.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.electric {
    background-color: #f7cf2e;
    background-image: url(../images/elements/eletric.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.ice {
    background-color: #98d5d7;
    background-image: url(../images/elements/ice.webp); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.ground {
    background-color: #dfbf69;
    background-image: url(../images/elements/ground.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.flying {
    background-color: #a98ff0;
    background-image: url(../images/elements/flying.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.poison {
    background-color: #a040a0;
    background-image: url(../images/elements/poison.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.fighting {
    background-color: #bf3029;
    background-image: url(../images/elements/fighting.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.psychic {
    background-color: #f65687;
    background-image: url(../images/elements/psychic.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.dark {
    background-color: #725847;
    background-image: url(../images/elements/dark.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.rock {
    background-color: #b8a137;
    background-image: url(../images/elements/rock.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.bug {
    background-color: #a8b720;
    background-image: url(../images/elements/bug.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.ghost {
    background-color: #6e5896;
    background-image: url(../images/elements/ghost.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.steel {
    background-color: #b9b7cf;
    background-image: url(../images/elements/steel.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.dragon {
    background-color: #6f38f6;
    background-image: url(../images/elements/dragon.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}

.fairy {
    background-color: #f9aec7;
    background-image: url(../images/elements/fairy.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
}


@media screen and (min-width: 450px){
    ol{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5px;
    }

    .info h3 {
        font-size: 1rem;
       
    }

    .info img{
        width: 4rem;
    }
}

@media screen and (min-width: 544px) {
    .info{
        gap: 15px
    }
}

@media screen and (min-width: 800px) {

    ol {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .info{
        gap: 5px;
    }
}

@media screen and (min-width: 801px) {
    ol {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 816px) {
    .info{
        gap:15px
    }
    main{
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

